:host {
  display: block;
  padding-bottom: 20px;
}

.header-image {
  background-color: #fff;
}

.load-more-container {
  padding-top: 10px;
  text-align: center;
}

.input-full-width {
  display: block;
  padding: 0 10px;
}

.no-data-placeholder {
  text-align: center;
}

.spinner {
  margin: 0 auto 10px;
}
